<p>prayer-requests works!</p>
<div className="container">
  <div className="section">
    <div className="row">
      <div className="col s12 center">
        <h3>
          <i className="mdi-content-send brown-text"></i>
        </h3>
        <h4>Pray Requests</h4>
        <table>
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Title</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>full name</td>
              <td>title</td>
              <td>description</td>
              <td>
                <button className="btn light-blue darken-4">
                  <i className="material-icons ">edit</i>
                </button>
                <button className="btn light-blue darken-4">
                  <i className="material-icons">delete</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    `
  </div>
</div>
